@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed&display=swap');

* {
  margin: 0;
  padding: 0;
}
body {
  font-family: 'Roboto Condensed', sans-serif;
  font-family: 14px;
}
body::-webkit-scrollbar {
  width: 10px;
}
body::-webkit-scrollbar-thumb {
  background: #bdbdbd;
}
#home-page {
  margin: 50px 100px;
}