#add-form {
  margin: 40px 0 0 0;
  width: 100%;
  display: flex;
}
form {
  border: 1px solid #202020;
  padding: 20px 20px 40px 20px;
  display: flex;
}
label {
  margin: 20px 0 8px 0;
}
span {
  display: flex;
  flex-direction: column;
  margin: 0 20px;
}
.input-line {
  outline: none;
  border: 1px solid #202020;
  background: transparent;
  padding: 15px;
  font-family: 'Roboto Condensed', sans-serif;
}
textarea {
  min-width: 200px;
  max-width: 200px;
  min-height: 110px;
  max-height: 110px;
}
#submit {
  padding: 10px 15px;
  border: none;
  outline: none;
  background: #202020;
  margin: 40px 0 0 0;
  color: #fff;
  cursor: pointer;
}