#footer {
  width: 100%;
  background: #f1f2f8;
  border-top: 1px solid #bdbdbd;
  padding: 40px 0;
}
#footer-wrap {
  display: flex;
  justify-content: space-between;
  font-size: 0.9em;
  margin: 0 100px;
}